@import "circle-buttons";
@import "components/payment-options";

body {
  min-width: 400px;
  height: 300px;
}

.btn-circle.btn-xl.success-icon {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  outline: none;
  cursor: default;

  span {
    display: block;
  }
}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

@import "ember-bootstrap/bootstrap";
