.payment-options {
  button {
    margin-right: 15px;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  input {
    border: 0;
    width: 45px;
    background-color: inherit;
  }
}

// .payment-options .circle {
//   border-radius: 500px;
//   display: inline-block;
//   background-color: green;
//   margin: 10px;
//   padding: 20px 15px;
// }
//
// .payment-options .circle span {
//   font-size: 15px;
//   color: white;
// }
