<div class="row">
  <div class="col-xs-12">
    <form onsubmit={{action "verifyPaymentDetails"}}>
      <div class="form-group">
        <label for="cause">Your Cause</label>
        <input class="form-control" type="text" placeholder="XXX" readonly>
      </div>
      <div class="form-group">
        <label for="charity">Your charity</label>
        <select class="form-control">
          <option>XXX</option>
        </select>
      </div>
      <div class="payment-options text-center">
        <button type="button" class="btn btn-default btn-circle btn-xl">
          $2
        </button>
        <button type="button" class="btn btn-default btn-circle btn-xl">
          $5
        </button>
        <button type="button" class="btn btn-default btn-circle btn-xl">
          $10
        </button>
        <button type="button" class="btn btn-default btn-circle btn-xl">
          {{input type="text" placeholder="$"}}
        </button>
      </div>
      <button type="submit" class="btn btn-default btn-block">Finalize Details</button>
    </form>
    {{!-- this is the scraped page content --}}
    {{#if model.error}}
      {{model.error}}
    {{else}}
      <p>Relevant content!</p>
      {{model.pageSource.length}}
    {{/if}}
  </div>
</div>
