<div class="row top-buffer bottom-buffer">
  <div class="col-xs-12 text-center">
    <button type="button" class="btn btn-success btn-circle btn-xl success-icon">
      <i class="glyphicon glyphicon-ok"></i>
      <span>Success</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 text-center">
    <button type="button" class="btn btn-default btn-circle btn-xl">
      {{fa-icon "facebook"}}
    </button>
  </div>
  <div class="col-xs-4 text-center">
    <button type="button" class="btn btn-default btn-circle btn-xl">
      {{fa-icon "twitter"}}
    </button>
  </div>
  <div class="col-xs-4 text-center">
    <button type="button" class="btn btn-default btn-circle btn-xl">
      {{fa-icon "envelope"}}
    </button>
  </div>
</div>
