<div class="row">
  <div class="col-xs-12">
    <h3>Verify Payment Details</h3>
    <div>
      <div>
        XXX
        <br>
        XXX
      </div>
    </div>
    <button class="btn btn-primary btn-block" onclick={{action "donate"}}>
      Donate
    </button>
  </div>
</div>
